{% extends "base.html" %}
{% block title %}Database View{% endblock %}
{% block content %}
<h1>Database View</h1>
<table>
<thead><tr><th>ID</th><th>Name</th><th>Date</th><th>Ship Start</th><th>Torpedo Start</th><th>Safe Zone</th><th>Ship Speed Range</th><th>Torpedo Speed</th><th>Action</th></tr></thead>
<tbody>
{% for s in scenarios %}
<tr>
<td>{{ s.id }}</td><td>{{ s.scenario_name }}</td><td>{{ s.date }}</td>
<td>{{ s.ship_start_x_nm }}, {{ s.ship_start_y_nm }} NM</td>
<td>{{ s.torpedo_start_x_nm }}, {{ s.torpedo_start_y_nm }} NM</td>
<td>{{ s.safe_zone_x_nm }}, {{ s.safe_zone_y_nm }} NM</td>
<td>{{ s.ship_speed_min }} - {{ s.ship_speed_max }} knots</td>
<td>{{ s.torpedo_speed }} knots</td>
<td><a href="/view-scenario?scenario_id={{ s.id }}">Run</a></td>
</tr>
{% endfor %}
</tbody>
</table>
{% endblock %}
